<div>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div>
      <mat-form-field>
        <mat-label>Ingresa tu nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ingresa tu email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Numero de Telefono</mat-label>
        <input matInput #input maxlength="10" placeholder="Ex. 6180000000" formControlName="telefono">
        <mat-hint align="end">{{input.value.length}}/10</mat-hint>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" type="submit" [disabled]="formGroup.invalid">Enviar</button>
  </form>
</div>