.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav mat-toolbar {
  background: inherit;
}

.content {
  padding: 20px;
}

mat-toolbar {
  background: #f285de;
  color: white;
}

mat-nav-list a {
  text-decoration: none;
  color: inherit;
}

mat-nav-list a:hover {
  background: rgba(0, 0, 0, 0.1);
}
